html
head
    title #{abc}
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet")
body
    div.container
        .card(style = "margin-top: 5%;")
            h3.card-header Xử lý Form
            .card-body
                form(action="/user-info", method="post", enctype="application/x-www-form-urlencoded")
                    .form-group
                        label(for="name") Họ và tên
                        input.form-control(type="text", name="name", placeholder="Nguyễn Văn A")
                    .form-group
                        label(for="age") Tuổi
                        input.form-control(type="number", name="age", placeholder="19")
                    .form-group
                        label(for="gender") Giới tính
                        select.form-control(name="gender")
                            option(value="Nam") Nam
                            option(value="Nữ") Nữ
                    button.btn.btn-block.btn-success(type="submit") Gửi